$primary-dark: #282a31;

$status-red-100: #fef6f6;
$status-red-200: #fcdada;
$status-red-300: #f9b5b5;
$status-red-400: #f36c6c;
$status-red-500: #f04747;
$status-red-600: #a33030;
$status-red-700: #601c1c;
$status-red-800: #481515;
$status-red-900: #0c0404;

$status-green-100: #f6fbf9;
$status-green-200: #d9f0e6;
$status-green-300: #b4e1cd;
$status-green-400: #69c49a;
$status-green-500: #43b581;
$status-green-600: #2e7b58;
$status-green-700: #1b4834;
$status-green-800: #143627;
$status-green-900: #030906;

$white: #ffffff;
$black: #000000;
