@import "../styles/colors.module.scss";

.list-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
}
.half-screen {
  width: 100%;
  margin-right: 15px;
}
.player-cell {
  color: $white;
  background: gray;
  display: block;
  width: 100%;
  padding: 20px 25px 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  transition: 250ms;
  box-sizing: border-box;
}

.meta-controls {
    display: flex;
    justify-content: space-between;
    div {
      width: 50%;
    }
}

h1, h2 {
  color: $white;
}

h1 {
  font-size: 60px;
  border-bottom: 10px solid $white;
}

h2 {
  font-size: 40px;
}

.player-cell h3 {
  margin-top: 0;
}

.player-cell.crew {
  background-color: #88ce8e;
}

.player-cell.imposter {
  background-color: #bf412d;
}
